:root {
      --cloudy-apple-gradient: linear-gradient(to bottom right, #f3e7e9 0%, #f3e7e9 30%, #e3eeff 60%, #e3eeff 100%);
      --dark-grey: #363636
}

* {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-family: 'Jost', sans-serif;

}

body {
      padding: 50px;
      background: var(--cloudy-apple-gradient);
      color: var(--dark-grey)
}

h1 {
      text-align: center;
      margin-bottom: 2rem;
}

.main {
      display: grid;
      grid-template-rows: repeat(5 1fr);
      grid-template-columns: 1fr;
}

.image_container {
      display: grid;
      grid-template-rows: subgrid;
      margin: auto;


      grid-row: 2;

      

      /* display: grid;
      grid-template-rows: repeat(3 1fr);
            border-radius: 7px; */

}

.room_image {
      min-width: 200px;
            max-width: 500px;
      
      box-shadow: 0px 46px 24px -23px rgba(66, 68, 90, 0.28);
}

/* .image {
      width: 100%;
      aspect-ratio: 16/9;
      overflow: clip;
} */

.main input {

      background-color: transparent;
      border: none;
      font-size: 3rem;
      color: var(--dark-grey);
}

.button_up {
      grid-row: 1;
      
      width: 50px;
      justify-self: center;
      align-self: end;

}

.button_down {
      grid-row: 3;
      
      width: 50px;
      justify-self: center;
      align-self: start;
}

.button_left {

      width: 50px;
      margin-right: 1.2rem;

}

.button_right {
      grid-row: 2;
      grid-column: 3;
      width: 50px;
      margin-left: 1.2rem;

}

.contextual_message {
      grid-row: 4;
}

.score_section {
      grid-row: 5;
}

td {
      height: 4rem;
      width: 4rem;
      text-align: center;
}