:root {
      --cloudy-apple-gradient: linear-gradient(to bottom right, #f3e7e9 0%, #f3e7e9 30%, #e3eeff 60%, #e3eeff 100%);
      --dark-grey: #363636
}

* {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-family: 'Jost', sans-serif;

}

body {
      padding: 50px;
      background: var(--cloudy-apple-gradient);
      color: var(--dark-grey)
}

h1 {
      text-align: center;
      margin-bottom: 2rem;
}

.main {
      position: relative;
      display: grid;
      grid-template-rows: repeat(5 1fr);
      grid-template-columns: minmax(200px 500px) 200px;
}

.image_container {
       display: grid;
      grid-template-rows: subgrid;
      grid-template-columns: auto 1fr auto;
      margin: auto;
      grid-row: 2;
      grid-column: 1;
}


.room_image{
      
      grid-column: 2;
      width: 100%;
            max-width: 500px;
      box-shadow: 36px 39px 57px 3px rgba(67, 69, 91, 0.42);
            ;
}
.character_image{
      opacity: 0;
      align-self: flex-end;
      justify-self: center;
      grid-column: 2;
      width: 80%;
            max-width: 500px;
}


.main input {

      background-color: transparent;
      border: none;
      font-size: 3rem;
      color: var(--dark-grey);
}

.button_up {
      grid-row: 1;
grid-column: 1;
      width: 50px;
      justify-self: center;
      align-self: end;

}

.button_down {
      grid-row: 3;
      grid-column: 1;
      width: 50px;
      justify-self: center;
      align-self: start;
}

.button_left {
grid-row: 1;
      grid-column: 1;
      width: 50px;
      margin-right: 1.2rem;

}

.button_right {
      grid-row: 1;
      grid-column: 3;
      width: 50px;
      margin-left: 1.2rem;

}

.game_session {
      width: 200px;
      grid-row: 2;
      grid-column: 2;
      display: grid;

}

footer {
      margin-top: 1.5rem;
}

.game_map{
      margin-top: 3rem;
}

td {
      height: 4rem;
      width: 4rem;
      text-align: center;
}




